!crab/*.py
*.aux
*.condor
*.d
*.dag
*.dub
*.err
*.gif
*.lock
*.log
*.metrics
*.nav
*.out
*.pcm
*.pdf
*.png
*.pyc
*.root
*.snm
*.so
*.status
*.sub
*.tar.gz
*.tex
*.tgz
*.toc
*.txt
*.vrb
*BK
*LSF*
*rescue*
.gitconfig
/doc/html
/doc/latex
Aaron
Fall13_TTbar_PU20bx25/
GUI
PROOF
QCD_*
RelValQCD_FlatPt_15_3000HS_13_CMSSW_7_3_0-MCRUN2_73_V7-v1/
RelValTTbar_13_CMSSW_7_3_0-PU50ns_MCRUN2_73_V9_71XGENSIM_FIXGT-v1/
Spring14_QCD_Pt-15to3000_Flat20to50/
Stage1_*
__init__.py
authentication.xml
core.*
crab/*/
crab_get_hadd_*
dictionary*
fileList*.py
jobFiles